<!DOCTYPE html>
<html>
  <head>
     <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>d3-demo</title>
    <style>

      .chart div {
        font: 10px sans-serif;
        background-color: steelblue;
        text-align: right;
        padding: 3px;
        margin: 1px;
        color: white;
      }

      .chart rect {
        fill: steelblue;
      }

      .chart text {
        fill: black;
        font: 10px sans-serif;
        text-anchor: middle;/*text-anchor:文本锚点属性被用来描述该文本与所给点的对齐方式 (开头、中间、末尾对齐)
        end:文本字符串的末尾即当前文本的初始位置（也就是说该文本相对初始位置向前平移了一个它自己的宽度。
         */
      }

    </style>
  </head>
  <body>
    <svg class="chart">
    </svg>
  
    <script src="https://d3js.org/d3.v3.min.js" charset="utf-8"></script>
    <script src="js/4-LetMakeaBarChart_3.js"></script>
  </body>
</html>